.container-box {
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0 2px 9px 0 $shadow-light;
  background-color: $white;
  padding: 30px 35px;

  header {
    margin: 0 0 30px;
    min-height: 1em;

    h2 {
      display: block;
      margin: 0;
      width: 100%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $black-gray;
      font-size: 22px;
      font-weight: $title-font-weight;
    }

    button {
      position: absolute;
      top: -10px;
      right: 0;
      margin: 0;
      width: 100px;
      height: 40px;
    }

    .box-subtitle {
      margin-bottom: 25px;
      color: $darker-gray;
      font-size: $font-size;
    }

    &.has-button {
      h2 {
        padding-right: 100px;
      }
    }
  }
}

.content-box {
  display: block;
  width: 100%;
  font-size: $font-size-small;
}

.panel-row {
  .panel-row-title {
    $color: rgba($black-gray, 0.75);

    margin: 0 0 10px;
    color: $color;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
  }
}

@media screen and (max-width: $screen-sm) {
  .container-box {
    padding: 28px 28px 40px;
  }
}
