a {
  text-decoration: none;
  color: $text-color;

  &:visited {
    color: $text-color;
  }
}

:global {
  a {
    &.link
    &.href {
      text-decoration: underline;
      color: $primary-color;
      font-size: $font-size-small;
      font-weight: 400;
    
      &:visited {
        color: $primary-color;
      }
    }
  }
}

p {
  margin: 13px 0;
}

label {
  $color: rgba($black-gray, .75);

  color: $color;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}
